%small.meta
  .author= link_to c.user.username, user_path(c.user.username)
  .separator= '|'
  .score
    Score:
    = c.score
  .separator= '|'
  .stats
    = succeed ',' do
      = pluralize(c.links.count, 'link')
    = pluralize(c.children_count_for(current_user), 'subcollection')
  .separator= '|'
  .privpub
    = c.pub? ? 'Public' : 'Private'
  .separator= '|'
  .parent
    - if c.parent_for(current_user).present?
      Parent collection:
      = link_to c.parent_for(current_user).name, collection_path(c.parent_for(current_user).link_handle)
    - else
      Parent collection: None
  .separator= '|'
  .permissions
    Your permissions:
    = c.descriptive_permission_for(current_user)