%small.meta
  .author= link_to c.user.username, user_path(c.user.username)
  .separator= '|'
  .score
    - if %w(vote comment edit owner).include?(c.permission_for(current_user))
      %a.upvote{href: '#', title: 'Upvote', data: {collection_id: c.id}}= c.votes.find_by(user: current_user).try(:positive?) ? icon('thumbs-up') : icon('thumbs-o-up')
      %span.value= c.score
      %a.downvote{href: '#', title: 'Downvote', data: {collection_id: c.id}}= c.votes.find_by(user: current_user).try(:negative?) ? icon('thumbs-down') : icon('thumbs-o-down')
    - else
      Score:
      = c.score
  .separator= '|'
  .stats
    = succeed ',' do
      = pluralize(c.links.count, 'link')
    = pluralize(c.children_count_for(current_user), 'subcollection')
  .separator= '|'
  .privpub
    = c.pub? ? 'Public' : 'Private'
  .separator= '|'
  .parent
    - if c.parent_for(current_user).present?
      Parent collection:
      = link_to c.parent_for(current_user).name, collection_path(c.parent_for(current_user).link_handle)
    - else
      Parent collection: None
  .separator= '|'
  .permissions
    Your permissions:
    = c.descriptive_permission_for(current_user)