- content_for :title do
  Editing:
  = @collection.name
- content_for :userbox do
  = render partial: "application/userbox", locals: {u: current_user}
%h2
  Editing:
  = @collection.name
= form_for @collection, url: collection_path(@collection), html: {class: 'form-horizontal'} do |f|
  .form-group
    .col-sm-4
      = f.label :name, 'Name:'
      = f.text_field :name, class: 'form-control'
  .form-group
    .col-sm-4
      = f.label :description, 'Description:'
      = f.text_area :description, rows: 5, class: 'form-control'
  .form-group
    .col-sm-4
      = f.label :parent_id, 'Parent collection:'
      = f.collection_select :parent_id, @existing_collections, :id, :name, { include_blank: 'No parent collection' }, { class: 'form-control' }
  .form-group
    .col-sm-4
      .checkbox
        %label
          = f.check_box :pub
          Public?
  .form-group
    .col-sm-4
      = submit_tag 'Update collection', class: 'btn btn-warning'