- content_for :title do
  Collections
- content_for :userbox do
  = render partial: "application/userbox", locals: {u: current_user}
- if current_user.nil?
  %h3 Public collections
  - if @collections.empty?
    .alert.alert-info No public collections yet...
  - else
    - while @collections.count > 0
      = render partial: "collection_row", locals: { cs: @collections.pop(3) }
- else
  - if @own_collections.empty? && @viewable_collections.empty? && @public_collections.empty?
    .alert.alert-info No collections to show you yet...
  - else
    %h3 Your collections
    - if @own_collections.empty?
      .alert.alert-info You have no collections yet...
    - else
      - while @own_collections.count > 0
        = render partial: "collection_row", locals: { cs: @own_collections.pop(3) }
    %h3 Collections shared with you
    - if @viewable_collections.empty?
      .alert.alert-info No collections shared with you yet..
    - else
      - while @viewable_collections.count > 0
        = render partial: "collection_row", locals: { cs: @viewable_collections.pop(3) }
    %h3 Public collections
    - if @public_collections.empty?
      .alert.alert-info No public collections yet...
    - else
      - while @public_collections.count > 0
        = render partial: "collection_row", locals: { cs: @public_collections.pop(3) }
  %a.btn.btn-success{href: new_collection_path}
    = icon('plus')
    Add collection