- content_for :title do
  Collections
- content_for :userbox do
  = render partial: "application/userbox", locals: {u: current_user}
- if current_user.nil?
  %h3 Public collections
  - if @collections.empty?
    .alert.alert-info No public collections yet...
  - else
    - while @collections.count > 0
      = render partial: "collection_row", locals: { cs: @collections.pop(3) }
  .row.more-btn
    .col-sm-12
      = link_to 'More', public_collections_path, class: 'btn btn-primary'
- else
  - if @own_collections.empty? && @viewable_collections.empty? && @public_collections.empty?
    .alert.alert-info No collections to show you yet...
  - else
    = render partial: 'own_collections'
    .row.more-btn
      .col-sm-12
        = link_to 'More', own_collections_path, class: 'btn btn-primary'
    = render partial: 'viewable_collections'
    .row.more-btn
      .col-sm-12
        = link_to 'More', shared_collections_path, class: 'btn btn-primary'
    = render partial: 'public_collections'
    .row.more-btn
      .col-sm-12
        = link_to 'More', public_collections_path, class: 'btn btn-primary'
  .row.add-collection-btn
    .col-sm-12
      %a.btn.btn-success{href: new_collection_path}
        = icon('plus')
        Add a collection