- content_for :title do
  = @collection.name
  by
  = @collection.user.username
- content_for :userbox do
  = render partial: "application/userbox", locals: {u: current_user}
%h2= @collection.name
.description= simple_format @collection.description
.collection
  = render partial: 'collection_metadata', locals: {c: @collection}
  - if @collection.user == current_user
    .collection_actions
      %h3 Collection actions
      %a.btn.btn-warning{href: edit_collection_path(@collection)}
        = icon('edit')
        Edit
      %a.btn.btn-danger{href: collection_path(@collection), data: {method: 'delete', confirm: 'Do you really want to delete this collection and all associated links and subcollections?'}}
        = icon('times')
        Delete
  - if @collection.children_count_for(current_user) > 0
    .subcollections
      %h3 Subcollections
      - if @collection.user == current_user || (@collection.link_collection_memberships.where(user: current_user).first.present? && @collection.link_collection_memberships.where(user: current_user).first.permission.present?)
        - LinkCollection.unscoped.where(parent: @collection).each do |sc|
          = render partial: 'collection', locals: {c: sc}
      - else
        - LinkCollection.pub.where(parent: @collection).each do |sc|
          = render partial: 'collection', locals: {c: sc}
  .links
    %h3 Links
    - @collection.links.each do |link|
      = render partial: 'link', locals: {l: link}
  - if @collection.user == current_user || @collection.permission_for(current_user) == 'edit'
    %a.btn.btn-success.add-link{href: new_collection_link_path(@collection.link_handle)}
      = icon 'plus'
      Add link
