- content_for :userbox do
  = render partial: "application/userbox", locals: {u: current_user}
- content_for :title do
  Your profile
%h2 Your profile
%dl.dl-horizontal
  %dt Username:
  %dd= current_user.username
  %dt Email:
  %dd= current_user.email
  %dt Description:
  %dd= simple_format current_user.description
  %dt Total collections:
  %dd= current_user.collections.count
  %dt Total links:
  %dd= current_user.links.count
  %dt Total votes:
  %dd= current_user.votes.count
  %dt Total comments:
  %dd= current_user.comments.count
%a.btn.btn-primary{href: user_path(current_user.username)}
  = icon('eye')
  Show public profile
%a.btn.btn-warning{href: edit_me_users_path}
  = icon('edit')
  Edit
%a.btn.btn-danger{href: destroy_me_users_path}
  = icon('times')
  Delete