- content_for :userbox do
  = render partial: "application/userbox", locals: {u: current_user}
- content_for :title do
  Your profile
%h2 Your profile
%dl.dl-horizontal.your-profile-dl
  %dt Username:
  %dd= current_user.username
  %dt Email:
  %dd= current_user.email
  %dt Description:
  %dd= simple_format current_user.description
  %dt Total collections:
  %dd= current_user.collections.count
  %dt Total links:
  %dd= current_user.links.count
  %dt Total votes:
  %dd= current_user.votes.count
  %dt Total comments:
  %dd= current_user.comments.count
  %dt Invitation notification:
  %dd= current_user.invitation_notification_enabled ? 'Enabled' : 'Disabled'
  %dt Invitation acceptance notification:
  %dd= current_user.invitation_accept_notification_enabled ? 'Enabled' : 'Disabled'
%a.btn.btn-primary{href: user_path(current_user.username)}
  = icon('eye')
  Show public profile
%a.btn.btn-warning{href: edit_me_users_path}
  = icon('edit')
  Edit
%a.btn.btn-danger{href: destroy_me_users_path}
  = icon('times')
  Delete
.pending-memberships
  %h3 Invitations to participate in link collections
  - if @pending_memberships.empty?
    .alert.alert-info No invitations to participate in link collections!
  - else
    %table.table.table-stripes.table-hover.text-center
      %thead
        %tr
          %th.text-center Collection name
          %th.text-center Collection author
          %th.text-center Your permissions
          %th.text-center Actions
      %tbody
        - @pending_memberships.each do |membership|
          %tr
            %td= membership.link_collection.name
            %td= membership.link_collection.user.username
            %td= membership.link_collection.descriptive_permission_for(current_user)
            %td
              = link_to 'Accept', accept_membership_users_path(membership_id: membership.id), method: :patch, class: 'btn btn-success accept-membership'
              = link_to 'Reject', cancel_membership_users_path(membership_id: membership.id), method: :delete, class: 'btn btn-danger cancel-membership'