- content_for :title do
  Register
%h2 Register for a free account
= form_for @user, url: register_users_path, html: { class: "form-horizontal" } do |f|
  .form-group
    .col-sm-4
      = f.label :email, "Email:"
      = f.email_field :email, class: "form-control"
  .form-group
    .col-sm-4
      = f.label :username, "Username:"
      = f.text_field :username, class: "form-control"
  .form-group
    .col-sm-4
      = f.label :description, "Description:"
      = f.text_area :description, rows: 10, class: "form-control"
  .form-group
    .col-sm-4
      = f.label :password, "Password:"
      = f.password_field :password, class: "form-control"
  .form-group
    .col-sm-4
      = f.label :password_confirmation, "Confirm password:"
      = f.password_field :password_confirmation, class: "form-control"
  .form-group
    .col-sm-4
      = f.submit "Register", class: "btn btn-primary"
