- content_for :title do
  Reset password
%h2 Reset password
= form_tag do_reset_password_users_path, class: 'form-horizontal' do
  .form-group
    .col-sm-4
      = label_tag :password, 'New password:'
      = password_field_tag :password, '', class: 'form-control'
  .form-group
    .col-sm-4
      = label_tag :password_confirmation, 'Password confirmation:'
      = password_field_tag :password_confirmation, '', class: 'form-control'
  .form-group
    .col-sm-4
      = hidden_field_tag :password_reset_token, @user.password_reset_token
      = submit_tag 'Reset password', class: 'btn btn-primary'