!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv': 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title
      = yield :title
      \- LinkUniverse
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.text-center
      %h1
        = link_to "LinkUniverse", root_path
        %small A link collection sharing service
    .error
      = yield
    %footer.text-center
      .row
        %small LinkUniverse engine v. 0.2 &copy; 2014-2017 by Phitherek_
      .row
        %small
          Powered by
          = link_to "Ruby on Rails", "http://www.rubyonrails.org"
